@font-face { font-family: 'Kufam'; src: url("../fonts/Kufam-VariableFont_wght.ttf") format("truetype"); font-weight: normal; font-style: normal; }

* { font-family: Kufam; padding: 0; margin: 0; text-decoration: none; list-style: none; box-sizing: border-box; color: white; }

p { font-size: 18px; column-count: 2; width: 65%; margin: auto; max-width: 900px; text-align: start; }

@media (max-width: 900px) { p { width: 90%; column-count: 1; } }

a { color: #d1a157; }

body { font-family: Kufam; display: flex; flex-direction: column; }

section { padding: 0%; padding-top: 1%; margin-top: 80px; background-image: url(../images/bg.png); min-height: 80vh; background-color: #282626; width: 100%; min-width: 270px; background-size: 100%; text-align: center; -webkit-background-size: cover; -moz-background-size: cover; -o-background-size: cover; background-size: cover; }

text-center { text-align: center !important; }

.width-100 { width: 100%; }

h1 { font-size: xx-large; }

@media (max-width: 900px) { h1 { font-size: x-large; } }

.bgBlack { padding: 5%; padding-left: 10%; padding-right: 10%; background-color: #0E0E0E; }

.bgTransparent { padding: 5%; padding-left: 10%; padding-right: 10%; background-color: transparent; }

.collapsible { background-color: transparent; color: white; cursor: pointer; padding: 18px; border: none; text-align: left; outline: none; }

.active, .collapsible:hover { background-color: transparent; }

.contentX { padding: 0 18px; overflow: hidden; background-color: transparent; }

nav { background: #0E0E0E; height: 80px; width: 100%; min-width: 275px; position: fixed; left: 0; top: 0; z-index: 100000; }

nav ul { top: 80px; float: right; margin-right: 100px; font-weight: bolder; }

@media (max-width: 1085px) { nav ul { top: 80px; position: fixed; display: flex; flex-direction: column; justify-content: center; width: 100%; height: 95vh; background-color: #0E0E0E; left: -100%; text-align: center; transition: all .5s; } }

@media (max-width: 600px) { nav ul { padding-bottom: 80px; } }

nav ul li { display: inline-block; line-height: 80px; margin: 0 10px; }

@media (max-width: 1085px) { nav ul li { display: inline-block; margin: 50px; line-height: 30px; } }

@media (max-width: 600px) { nav ul li { display: inline-block; margin: 30px; line-height: 20px; } }

nav ul li a { color: white; font-size: 16px; text-transform: uppercase; padding: 7px 13px; border-radius: 3px; }

nav ul li a:hover, nav ul li a.active { background: #0E0E0E; transition: .5s; }

@media (max-width: 1085px) { nav ul li a:hover, nav ul li a.active { background: none; color: #1a1919e7; } }

@media (max-width: 1260px) { nav ul li a { font-size: 16px; } }

@media (max-width: 600px) { nav ul li a { font-size: 28px; } }

label { z-index: 9999999; display: inline-flex; width: 10%; margin-right: 0; }

@media (max-width: 600px) { label { width: 100px; } }

label.logo { z-index: 9999999; color: white; font-size: 35px; line-height: 80px; padding: 20px 100px; font-weight: bold; }

@media (max-width: 1260px) { label.logo { font-size: 30px; padding-left: 50px; } }

@media (max-width: 1085px) { label.logo { font-size: 20px; line-height: 80px; } }

@media (max-width: 600px) { label.logo { font-size: 20px; line-height: 80px; padding-left: 20px; } }

.checkbtn { font-size: 30px; color: white; float: right; line-height: 80px; margin-right: 40px; cursor: pointer; display: none; }

@media (max-width: 1085px) { .checkbtn { display: block; font-size: 30px; line-height: 90px; } }

@media (max-width: 600px) { .checkbtn { font-size: 40px; line-height: 80px; width: 20px; } }

#check { display: none; }

@media (max-width: 1085px) { #check:checked ~ ul { left: 0; } }

footer { padding-top: 2rem; padding-bottom: 2rem; background-color: #0E0E0E; font-weight: bold; color: #fff; display: flex; align-items: center; justify-content: space-between; }

@media (max-width: 900px) { footer { flex-direction: column; } }

footer .footer-row { margin-top: 1rem; width: 100%; display: flex; align-items: center; justify-content: center; font-weight: normal; }

@media (max-width: 900px) { footer .footer-row { flex-direction: column; margin-top: 2%; margin-bottom: 5%; } }

footer ul li { margin: 5px 10px; }

footer .container { width: 70%; display: flex; align-items: center; justify-content: center; }

footer .container .social { display: flex; align-items: center; justify-content: center; flex-direction: column; width: 100%; }

footer .container .social .link { margin-top: 25px; margin-bottom: 25px; }

footer .container .social .btn { color: #f8f9fa; border-color: #ffffff; display: inline-block; font-weight: 400; text-align: center; vertical-align: middle; -webkit-user-select: none; -moz-user-select: none; -ms-user-select: none; user-select: none; background-color: transparent; border: 3px solid; margin-left: 5px; margin-right: 5px; font-size: 1rem; line-height: 1.5; border-radius: 0.5rem; padding: 5px 10px; transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out, border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out; }

.divider { margin-top: 25px; margin-bottom: 25px; }

.gallery { display: flex; flex-wrap: wrap; justify-content: start; text-align: start; }

@media (max-width: 700px) { .gallery { text-align: center; } }

.galleryImageContainer { width: 13%; min-width: 200px; flex: 1 0 12%; /* explanation below */ margin: 2% 1%; background: transparent; }

@media (max-width: 600px) { .galleryImageContainer { width: 80%; margin-left: 10%; } }

.galleryImage { width: 100%; }

/* The Modal (background) */
.modal { display: none; /* Hidden by default */ position: fixed; /* Stay in place */ z-index: 1; /* Sit on top */ left: 0; top: 5%; margin: 1% auto; padding: 3%; /* Full width */ height: 100%; /* Full height */ overflow: auto; /* Enable scroll if needed */ background-color: black; /* Fallback color */ background-color: rgba(0, 0, 0, 0.4); width: 100%; z-index: 100001; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; transition: transform 0.3s ease-out; transform: translate(0, -50px); /* Firefox */ /* Could be more or less, depending on screen size */ }

@media (max-width: 600px) { .modal { left: 0; top: 7%; padding: 1%; margin: 0; height: 100%; } }

@media (max-width: 400px) { .modal { padding: 0; margin: 0; } }

/* Modal Content/Box */
.modal-content { margin: 2% auto; /* 15% from the top and centered */ padding: 25px; background-image: url(../images/bg.png); background-color: #282626 !important; width: 80%; border-radius: 4px; max-width: 1140px; border-radius: 15px; text-align: center; /* Black w/ opacity */ }

@media (max-width: 1000px) { .modal-content { max-width: 800px; } }

@media (max-width: 600px) { .modal-content { width: 100%; max-width: 100%; margin: 0; } }

/* Hide scrollbar for Chrome, Safari and Opera */
.modal::-webkit-scrollbar { display: none; }

/* The Close Button */
.close { color: #3cc6ab; float: right; font-size: 70px; font-weight: bold; margin-top: -20px; }

.close:hover, .close:focus { color: black; text-decoration: none; cursor: pointer; }

.borderd-content { border: 4px solid #0000ff; border-radius: 4px; margin-top: 100px; width: 100%; min-height: 50px; position: relative; }

.borderd-content .title { margin: -17px 0 0 20px; background: #0E0E0E; padding: 3px 20px; display: inline-block; font-weight: bold; position: absolute; }

@media (max-width: 600px) { .borderd-content .title { display: block; } }

.borderd-content .content { padding: 10px; }

/* Hide scrollbar for Chrome, Safari and Opera */
.content::-webkit-scrollbar { display: none; }

/* Hide scrollbar for IE, Edge and Firefox */
.content { text-align: start; -ms-overflow-style: none; /* IE and Edge */ scrollbar-width: none; /* Firefox */ }

#characters { border-color: #7380f3; }

#environments { border-color: #73f3b7; }

#creatures { border-color: #eb9776; }

#artifacts { border-color: #df76ff; }

#specials { border-color: #7380f3; }

#modalImage { max-width: 25%; }

@media (max-width: 600px) { #modalImage { max-width: 90%; } }

.homePageImage { margin-top: -280px; z-index: 0; }

@media (max-width: 740px) { .homePageImage { margin-top: 5%; min-width: 320px; } }

.homePageImageParagraph { column-count: 1; width: 100%; text-align: left; z-index: 1000; text-align: left; margin-left: 0; margin-right: 0; padding-left: 15%; }

@media (max-width: 740px) { .homePageImageParagraph { padding-left: 0; width: 100%; text-align: center; } }

.storyListDiv { width: 40%; display: inline-block; vertical-align: top; text-align: left; margin: 0 5px; }

@media (max-width: 740px) { .storyListDiv { display: block; width: 100%; margin-top: 50px; } }

.storyList { width: 50%; display: flex; justify-content: space-around; align-items: start; margin: auto; margin-left: 28%; }

@media (max-width: 740px) { .storyList { display: block; width: 100%; margin-left: auto; } }

.test { color: black; font-size: 100px; }

/*# sourceMappingURL=styles.css.map */